{# templates/kotlin/entity.kt.j2 #}
{# Generates JPA Entity classes from entity schema #}
package {{ packageName }}.repository.model

import jakarta.persistence.Column
import jakarta.persistence.Embedded
import jakarta.persistence.Entity
import jakarta.persistence.GeneratedValue
import jakarta.persistence.GenerationType.SEQUENCE
import jakarta.persistence.Id
import jakarta.persistence.PrePersist
import jakarta.persistence.PreUpdate
import jakarta.persistence.Table
import net.blugrid.common.util.kotlinEquals
import net.blugrid.data.persistence.audit.AuditEmbeddable
import net.blugrid.data.persistence.model.resource.{{ extends }}
import org.hibernate.annotations.GenericGenerator
{%- for import in imports %}
import {{ import }}
{%- endfor %}
import java.util.Objects
import java.util.UUID

@Entity
@Table(name = "{{ viewName }}")
class {{ entityName }}Entity(

    @Id
    @GeneratedValue(strategy = SEQUENCE, generator = "{{ sequenceName }}")
    @GenericGenerator(name = "{{ sequenceName }}", strategy = "net.blugrid.server.multitenancy.generators.GlobalTenantSequenceGenerator")
    @Column(name = "id", unique = true, nullable = false, updatable = false)
    override var id: Long? = null,

    @Column(name = "uuid", updatable = false)
    override var uuid: UUID,

{%- for field in fields %}

    @Column(name = "{{ field.columnName }}", nullable = {{ field.nullable | lower }}{% if not field.updatable %}, updatable = false{% endif %})
    var {{ field.name }}: {{ field.type }}{% if field.nullable %}? = null{% endif %},
{%- endfor %}

    ) : {{ extends }}<{{ entityName }}Entity> {

    @Embedded
    override var audit: AuditEmbeddable = AuditEmbeddable()

    @PrePersist
    fun prePersist() {
        audit.prePersist()
    }

    @PreUpdate
    fun preUpdate() {
        audit.preUpdate()
    }

    companion object {
        private val equalsProperties = arrayOf(
{%- for field in fields %}
            {{ entityName }}Entity::{{ field.name }}{% if not loop.last %},{% endif %}
{%- endfor %}
        )
    }

    override fun update(update: {{ entityName }}Entity): {{ entityName }}Entity {
{%- for field in fields %}
        this.{{ field.name }} = update.{{ field.name }}
{%- endfor %}
        return this
    }

    override fun equals(other: Any?) = kotlinEquals(other = other, properties = equalsProperties)

    override fun hashCode() = Objects.hash(
        uuid{% for field in fields %}, {{ field.name }}{% endfor %}
    )
}
